-- 为bs_books表添加上传者字段
-- 执行以下SQL语句来添加缺失的字段

-- 添加上传者ID字段
ALTER TABLE `bs_books` ADD COLUMN `bs_uploaderId` int(11) NULL COMMENT '上传者用户ID' AFTER `bs_booksNum`;

-- 添加上传者姓名字段
ALTER TABLE `bs_books` ADD COLUMN `bs_uploaderName` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NULL COMMENT '上传者姓名' AFTER `bs_uploaderId`;

-- 为现有数据设置默认上传者（设置为系统默认，因为这些都是初始数据）
-- 使用一个不存在的用户ID（比如999）来表示系统默认上传的书籍
UPDATE `bs_books` SET `bs_uploaderId` = 999, `bs_uploaderName` = '系统默认' WHERE `bs_uploaderId` IS NULL;

-- 验证字段是否添加成功
DESCRIBE `bs_books`;

-- 查看更新后的数据
SELECT `bs_bookId`, `bs_bookName`, `bs_uploaderId`, `bs_uploaderName` FROM `bs_books`;
